.container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.form {
    display: flex;
    flex-direction: column;
}

.input {
    margin-top: 8px;
    font-size: 18px;
    border: none;
    border-radius: 12px;
    border: 1px solid #ffffff;
    padding: 8px;
    background-color: #e6e6e6;
}

.label {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
}

.interest {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.button {
    margin-top: 8px;
    margin-bottom: 8px;
    height: 48px;
    border: none;
    border-radius: 12px;
    border: 1px solid #ffffff;
    cursor: pointer;
}

.deleteInterestButton {
    margin-top: auto;
    margin-bottom: auto;
    border: none;
    height: 100%;
    border-radius: 12px;
    border: 1px solid #ffffff;
    cursor: pointer;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #e13c3c;
    color: white;
}

.button:hover {
    border: 1px solid #ccc;
}
